body {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.wrapper {
    width: 70%;

    @media (max-width: 1200px) {
        width: 95%;
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    background-color: $blue;
    color: white;

    &:hover {
        background-color: #3897f0e7;
    }

    @media (max-width: 760px) {
        width: 90px;
        height: 25px;
        font-size: 12px;
    }
}

.blur {
    filter: blur(10px);
}

.visible {
    visibility: visible !important;
    opacity: 1 !important;
}