.popup, .popup-bg{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 5;
    animation: 0.2s;
    visibility: hidden;
    opacity: 0;
    height: 70%;
}

.popup-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#close-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 60px;
    cursor: pointer;

    @media (max-width: 760px) {
        font-size: 30px;
    }
}