.popup, .popup-bg{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 5;
    transition: opacity .2s;
    visibility: hidden;
    opacity: 0;
    height: 70%;
    width: auto;
}

.popup-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#close-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 60px;
    cursor: pointer;

    @media (max-width: 760px) {
        font-size: 30px;
    }
}

.config-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    z-index: 5;
    transition: opacity .2s;
    visibility: hidden;
    opacity: 0;
    background: #ffffff;
    border-radius: 10px;

    width: 70%;
    max-width: 360px;
    height: 70%;
    max-height: 400px;
}

.config__header {
    font-size: 20px;
}

.config__descr {
    font-size: 16px;
    padding: 10px;
    resize: none;
    width: 100%;
    height: 70%;
}

.config__submit {
    width: 80%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    color: white;
    font-size: 16px;
}